.button-without-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button-custom {
    -fx-font-family: "Varela";
    -fx-font-size: 16px;
    -fx-text-fill: #6A6A6A;
}


.button-connection {
    -fx-background-radius: 10px; /* Rayon de l'arrondi des coins */
    -fx-border-radius: 10px; /* Rayon de l'arrondi des coins pour la bordure */
    -fx-pref-width: 430px; /* Largeur préférée du bouton */
    -fx-pref-height: 45px; /* Hauteur préférée du bouton */
    -fx-background-color: #4FA0FF; /* Couleur de fond bleue */
    -fx-text-fill: white; /* Couleur du texte en blanc */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 2);
    -fx-font-size: 16px; /* Taille de la police de 16 pixels */
}


.text-field {
    -fx-font-size: 16px; /* Taille de la police de 16 pixels */
    -fx-background-color: #dbe8fa;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #a3a3a3aa;
    -fx-border-width: 1px;
    -fx-text-fill: #6A6A6A;; /* Couleur du texte en blanc */
    fx-prompt-text-fill: #6A6A6A;
    fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 2);
}

